---
layout: default
title: Home
---

{% include intro.html %}

<section class="home-divider" aria-hidden="true">
  <div class="container">
    <hr>
  </div>
</section>

<section class="home-section">
  <div class="container">
    <h2 class="home-section-title">News</h2>
  </div>
</section>

<section class="post-list">
  <div class="container">
    {% if site.posts.size > 0 %}
      {% for post in site.posts %}
        <article class="news-item">
          <time class="news-date" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%Y %b" }}</time>
          <div class="news-content">
            <a class="post-link" href="{{ post.url | prepend: site.baseurl | prepend: site.url }}">{{ post.title }}</a>
          </div>
        </article>
      {% endfor %}
    {% else %}
      <p class="home-empty">News coming soon.</p>
    {% endif %}
  </div>

</section>
