<section class="intro">
  <div class="container">
    <figure class="intro-photo">
      <img src="{{ '/assets/images/author.jpg' | prepend: site.baseurl | prepend: site.url }}" alt="Portrait of Themistoklis Nikas">
    </figure>

    <p class="lead">
      Hi, I’m Themistoklis Nikas. I’m a third-year CS PhD student at Boston University, where I work with Professor
      <a href="https://aaronmueller.github.io/" target="_blank" rel="noopener"> Aaron Mueller</a>.
      My research focuses on mechanistic interpretability of large language models (LLMs). I’m interested in how LLMs represent
      uncertainty and how that connects to confidence and calibration.
    </p>

    <p class="lead">
      Before Boston University, I earned an integrated Master’s degree in Computer Science and Engineering from the University of Ioannina,
      where I worked with Professor
      <a href="https://www.cs.uoi.gr/~tsap/" target="_blank" rel="noopener"> Panayiotis Tsaparas</a>
      on link analysis algorithms.
    </p>
  </div>
</section>
